{% extends "base.html" %}
{% block head_title %}My Cool Django Blog{% endblock %}

{% block content %} 
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2>{{ item.title }}</h2>
          <p> {{ item.content }} </p>
          <p> {{ item.publish_date }} </p>
          <p><a class="btn btn-default" href="{% url 'blog:index' %}" role="button">All publications &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        
      </div>

{% endblock content %}