

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}
.row1 {
    background-color: red;
} 

.row2 {
    background-color: green;
}















